.cms-interactive-top {
	position: relative;
}

.cms-interactive-top:is(
		:hover,
		:active,
		:focus-visible,
		[aria-expanded="true"]
	)::before {
	transform: scaleX(1);
}

.cms-interactive-top::before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 3px;
	top: 0px;
	transform-origin: left;
	transform: scaleX(0);
	background-color: var(--foreground);
	transition: transform 350ms ease-out;
}

.cms a:not(.no-b):not(.no-i),
.cms-interactive-bottom {
	position: relative;
	line-height: 1.5;
	@apply hover:no-underline;
}

.cms
	a:not(.no-b):not(.no-i):is(
		:hover,
		:active,
		:focus-visible,
		[aria-expanded="true"]
	)::after,
.cms-interactive-bottom:is(
		:hover,
		:active,
		:focus-visible,
		[aria-expanded="true"]
	)::after {
	transform: scaleX(1);
}

.cms-interactive-bottom::after,
.cms a:not(.no-b):not(.no-i)::after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	height: 3px;
	bottom: 3px;
	transform-origin: left;
	transform: scaleX(0);
	background-color: var(--foreground);
	transition: transform 350ms ease-out;
}

.cms-button {
	--btn-spacer-shadow: clamp(
		-10px,
		calc(-8px - 2 * var(--screen-width-quotient)),
		-8px
	);
	--btn-spacer-margin: calc(var(--btn-spacer-shadow) * -1);

	color: currentColor;
	background-color: var(--background);
	box-shadow:
		var(--btn-spacer-shadow) var(--btn-spacer-shadow) 0 -2px var(--background),
		var(--btn-spacer-shadow) var(--btn-spacer-shadow) 0 0 var(--primary);

	padding: var(--spacer-2xs) var(--spacer-s);
	text-align: center;
	border: 1px solid var(--foreground);
	cursor: pointer;
	font-weight: 500;
}

.cms-button:is(:hover, :active, :focus-visible, [aria-expanded="true"]) {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--primary-foreground);
	box-shadow:
		var(--btn-spacer-shadow) var(--btn-spacer-shadow) 0 -2px var(--background),
		var(--btn-spacer-shadow) var(--btn-spacer-shadow) 0 0 var(--foreground);
}
