
.markdown h1{
  font-size: 1.5rem;
  font-weight: 700;
}

.markdown h2{
  font-size: 1.25rem;
  font-weight: 500;
}

.markdown ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.markdown ol {
  list-style: decimal;
  margin-left: 1.5rem;
}

.markdown p {
  margin: 0.5rem 0;
  font-family: "Times New Roman", serif;
}

.markdown .small {
  font-size: 12px;
}

.markdown iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}